[Unit]
Before=sleep.target suspend.target
Description = Lock the system on wakeup (%i)

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%i/.config/i3/locker.sh

[Install]
WantedBy=sleep.target suspend.target
